<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>validateRegisterFiller</filter-name>
        <filter-class>filters.validateRegisterFiller</filter-class>
    </filter>
    <filter>
        <filter-name>encodePassFilter</filter-name>
        <filter-class>filters.encodePassFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodePassFilter</filter-name>
        <servlet-name>registerServlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateRegisterFiller</filter-name>
        <servlet-name>registerServlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.web.account.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.web.account.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.web.account.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFoodsServlet</servlet-name>
        <servlet-class>controller.web.manage_food_weeklymenu.GetFoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodsToCartServlet</servlet-name>
        <servlet-class>controller.web.manage_cart_order.AddFoodsToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.web.manage_cart_order.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>foodDetailsServlet</servlet-name>
        <servlet-class>controller.web.manage_food_weeklymenu.foodDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveOrderServlet</servlet-name>
        <servlet-class>controller.web.manage_cart_order.saveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyOrderServlet</servlet-name>
        <servlet-class>controller.web.manage_cart_order.historyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.web.manage_food_weeklymenu.showWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.web.manage_food_weeklymenu.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToPlanServlet</servlet-name>
        <servlet-class>controller.web.personal_plan.addToPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPersonalPlanServlet</servlet-name>
        <servlet-class>controller.web.personal_plan.showPersonalPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPlanServlet</servlet-name>
        <servlet-class>controller.web.personal_plan.createPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePlanServlet</servlet-name>
        <servlet-class>controller.web.personal_plan.deletePlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDetailOrderHistoryServlet</servlet-name>
        <servlet-class>controller.web.manage_cart_order.viewDetailOrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPlanServlet</servlet-name>
        <servlet-class>controller.web.personal_plan.editPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionEditPlanServlet</servlet-name>
        <servlet-class>controller.web.personal_plan.actionEditPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerAdmin</servlet-name>
        <servlet-class>controller.MainControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrderServlet</servlet-name>
        <servlet-class>controller.admin.manage_order.manageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusOrderServlet</servlet-name>
        <servlet-class>controller.admin.manage_order.updateStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.manageMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFoodServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.createFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prepareCreateFoodServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.prepareCreateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageIngredientServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.manageIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToRecipeServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.addToRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveFoodServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.saveFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageUserServlet</servlet-name>
        <servlet-class>controller.admin.manage_user.manageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFoodServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.updateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageChartOrderServlet</servlet-name>
        <servlet-class>controller.admin.manage_order.manageChartOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managaTotalPriceInMonthServlet</servlet-name>
        <servlet-class>controller.admin.manage_order.managaTotalPriceInMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batchOrderServlet</servlet-name>
        <servlet-class>controller.admin.manage_order.batchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.manageWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDetailWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.getDetailWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.insertWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertFoodToWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.insertFoodToWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>foodInWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.foodInWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertFoodServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.insertFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.updateWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancleOrderServlet</servlet-name>
        <servlet-class>controller.web.manage_cart_order.cancleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRecipeServlet</servlet-name>
        <servlet-class>controller.admin.manage_menu.updateRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOrderByStatusServlet</servlet-name>
        <servlet-class>controller.admin.manage_order.getOrderByStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageFoodWeeklyMenuServlet</servlet-name>
        <servlet-class>controller.admin.manage_weekly_menu.manageFoodWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageIngredientAllServlet</servlet-name>
        <servlet-class>controller.admin.manage_ingredient.manageIngredientAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFoodsServlet</servlet-name>
        <url-pattern>/GetFoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodsToCartServlet</servlet-name>
        <url-pattern>/AddFoodsToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>foodDetailsServlet</servlet-name>
        <url-pattern>/foodDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveOrderServlet</servlet-name>
        <url-pattern>/saveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyOrderServlet</servlet-name>
        <url-pattern>/historyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showWeeklyMenuServlet</servlet-name>
        <url-pattern>/showWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToPlanServlet</servlet-name>
        <url-pattern>/addToPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPersonalPlanServlet</servlet-name>
        <url-pattern>/showPersonalPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPlanServlet</servlet-name>
        <url-pattern>/createPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePlanServlet</servlet-name>
        <url-pattern>/deletePlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDetailOrderHistoryServlet</servlet-name>
        <url-pattern>/viewDetailOrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPlanServlet</servlet-name>
        <url-pattern>/editPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionEditPlanServlet</servlet-name>
        <url-pattern>/actionEditPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerAdmin</servlet-name>
        <url-pattern>/MainControllerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrderServlet</servlet-name>
        <url-pattern>/manageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusOrderServlet</servlet-name>
        <url-pattern>/updateStatusOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageMenuServlet</servlet-name>
        <url-pattern>/manageMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFoodServlet</servlet-name>
        <url-pattern>/createFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prepareCreateFoodServlet</servlet-name>
        <url-pattern>/prepareCreateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageIngredientServlet</servlet-name>
        <url-pattern>/manageIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToRecipeServlet</servlet-name>
        <url-pattern>/addToRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveFoodServlet</servlet-name>
        <url-pattern>/saveFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageUserServlet</servlet-name>
        <url-pattern>/manageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFoodServlet</servlet-name>
        <url-pattern>/updateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageChartOrderServlet</servlet-name>
        <url-pattern>/manageChartOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managaTotalPriceInMonthServlet</servlet-name>
        <url-pattern>/managaTotalPriceInMonthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batchOrderServlet</servlet-name>
        <url-pattern>/batchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageWeeklyMenuServlet</servlet-name>
        <url-pattern>/manageWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDetailWeeklyMenuServlet</servlet-name>
        <url-pattern>/getDetailWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertWeeklyMenuServlet</servlet-name>
        <url-pattern>/insertWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertFoodToWeeklyMenuServlet</servlet-name>
        <url-pattern>/insertFoodToWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>foodInWeeklyMenuServlet</servlet-name>
        <url-pattern>/foodInWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertFoodServlet</servlet-name>
        <url-pattern>/insertFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateWeeklyMenuServlet</servlet-name>
        <url-pattern>/updateWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancleOrderServlet</servlet-name>
        <url-pattern>/cancleOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRecipeServlet</servlet-name>
        <url-pattern>/updateRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOrderByStatusServlet</servlet-name>
        <url-pattern>/getOrderByStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageFoodWeeklyMenuServlet</servlet-name>
        <url-pattern>/manageFoodWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageIngredientAllServlet</servlet-name>
        <url-pattern>/manageIngredientAllServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
